.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleInput {
    width: min(400px + 1rem, calc(100% - 3rem));
    height: 30px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.select {
    width: min(400px + 2rem, calc(100% - 2rem));
    height: 30px;
    margin-bottom: 1rem;
}
.submitButton {
    width: min(400px + 2rem, calc(100% - 2rem));
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    background: linear-gradient(135deg, tomato,plum);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* darken on hover */
.submitButton:hover {
    filter: brightness(90%);
}
